/* Reset & Root Colors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00B2FF;
    --secondary-color: #FFE66D;
    --accent1-color: #2B7A0B;
    --accent2-color: #FF6B35;
    --heading-font: 'Fredoka', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    tect-decoration: none;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    width: 90%;
    left: 5%;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}
