/* Reset & Root Colors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00B2FF;
    --secondary-color: #FFE66D;
    --accent1-color: #2B7A0B;
    --accent2-color: #FF6B35;
    --heading-font: 'Fredoka', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    width: 90%;
    left: 5%;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}

/*---Header Grid Layout ---*/
header{
    display:grid;
    grid-template-columns:100px 1fr 2fr;
    align-items: center;
    background-color: #e0f7fa;
    padding: 10px;
    gap: 20px;
}

header img {
    width: 80px;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

header nav ul li{
    margin: 0 10px;
}


header nav ul a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

/* --- Adentures Section Gallery ---*/
.adventure-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin: 16px;  
}

.adventure-gallery figure {
    flex: 1 1 150px;
    max-width: 180px;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    border-radius: 8px;
}

.adventure-gallery figcaption{
    margin-top: 8px;
    font-weight: bold;
}

/*--- Footer Flex Layout ---*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 12px 20px
}

footer .socials {
    display: flex;
    gap: 12px;
}

footer .socials img {
    width: 32px;
}